<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>398996108358-bdfnvsgdhg40vb7m24s9m3he2qi1qsbl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398996108358-bdfnvsgdhg40vb7m24s9m3he2qi1qsbl</string>
	<key>API_KEY</key>
	<string>AIzaSyABtBKSTvTPJ95W7fLhFwzjvM0nxYDSL8U</string>
	<key>GCM_SENDER_ID</key>
	<string>398996108358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yutakana23.mrStudy</string>
	<key>PROJECT_ID</key>
	<string>mrstudy-2dfda</string>
	<key>STORAGE_BUCKET</key>
	<string>mrstudy-2dfda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398996108358:ios:e8f0d4d6a9f11447384647</string>
</dict>
</plist>